<div class="card" data-id="<%= portfolio_item.id %>">
  <%= portfolio_item.thumb_image %>
  <p class="card-text">
    <span><%= link_to portfolio_item.title, portfolio_show_path(portfolio_item) %></span> 
  </p>
</div>